@page "/support"

<PageTitle>Supportside for kørselsregistrering</PageTitle>

<header>
	<img class="center-image" src="img\logo2.png" />
	<h1 class="center-text">Kørselsregistrering Supportside</h1>
</header>

<br/>

<h2>Sådan gør du</h2>
<h3>Vælg chauffør</h3>
<p>Tryk på navnet på den chauffør, som skal køre. Når du har valgt chaufføren, vil knappen være grøn, og en liste over destinationer bliver vist.</p>

<h3>Vælg destination</h3>
<p>Tryk på destinationen, som chaufføren skal køre til. Når du har valgt destinationen, lukker listen ned og din standard mailklient vil åbne op.</p>

<h3>Registrering af kørsel</h3>
<p>Inde i mailklienten vil </p>