@page "/support"

<PageTitle>Supportside for kørselsregistrering</PageTitle>

<header>
	<h1 class="center-text">
		<img src="img\logo.png" class="logo" /> Kørselsregistrering Supportside
	</h1>
</header>

<br />

<div class="text-center mx-auto">
	<section>
		<h2>Sådan gør du</h2>
		<h3>Vælg chauffør</h3>
		<p>Tryk på navnet på den chauffør, som skal køre. Når du har valgt chaufføren, vil knappen være grøn, og en liste over destinationer bliver vist.</p>
		<img class="mx-auto d-block center-image support-image" style="border:3px solid;" src="img\ValgAfChauffoer.png" />
	</section>

	<br />

	<section>
		<h3>Vælg destination</h3>
		<p>Tryk på destinationen, som chaufføren skal køre til. Når du har valgt destinationen, lukker listen ned og din standard mailklient vil åbne op.</p>
		<img class="mx-auto d-block center-image support-image" style="border:3px solid;" src="img\ValgAfDestination.png" />
	</section>

	<br />

	<section>
		<h3>Registrering af kørsel</h3>
		<p>En prædefineret mail åbnes inde i din fortrukne mailklient, og herfra sender du mailen, som er autoudfyldt med info om chauffør, destination, antal km kørt og dato for kørsel, afsted. Her har du også mulighed for at ændre på informationerne, hvis nødvendigt.</p>
		<img class="mx-auto d-block center-image support-image" style="border:3px solid;" src="img\SendMail.png" />
	</section>

	<br />

	<b>VIGTIGT MHT. VALG AF UKENDT DESTINATION:</b><p> Når du har valgt "Ukendt" som destinationen, skal du selv sørge for at angive navnet på destinationen samt antal kilometer inde i beskeden i mailklienten.</p>
	<img class="mx-auto d-block center-image support-image" style="border:3px solid;" src="img\UkendtDestination.png" />
</div>

<div class="center-text">
	<a href="/">🚗 Tilbage til kørselsregistrering</a>
</div>