@page "/support"

<PageTitle>Supportside for kørselsregistrering</PageTitle>

<h5 style="position: absolute; right: 0;"><a href="/">🚗 Tilbage til kørselsregistrering</a></h5>

<header>
	<img class="mx-auto d-block" src="img\logo2.png" />
	<h1 class="text-center">Kørselsregistrering Supportside</h1>
</header>

<br/>

<div class="text-center mx-auto w-50">
	<h2>Sådan gør du</h2>
	<h3>Vælg chauffør</h3>
	<p>Tryk på navnet på den chauffør, som skal køre. Når du har valgt chaufføren, vil knappen være grøn, og en liste over destinationer bliver vist.</p>
	<img class="mx-auto d-block" style="border:3px solid;" src="img\ValgAfChauffoer.png" />
	
	<br />

	<h3>Vælg destination</h3>
	<p>Tryk på destinationen, som chaufføren skal køre til. Når du har valgt destinationen, lukker listen ned og din standard mailklient vil åbne op.</p>
	<img class="mx-auto d-block" style="border:3px solid;" src="img\ValgAfDestination.png" />

	<br />

	<h3>Registrering af kørsel</h3>
	<p>En prædefineret mail åbnes inde i din fortrukne mailklient, og herfra sender du mailen, som er autoudfyldt med info om chauffør, destination, antal km kørt og dato for kørsel, afsted. Her har du også mulighed for at ændre på informationerne, hvis nødvendigt.</p>
	<img class="mx-auto d-block" style="border:3px solid;" src="img\SendMail.png" />

	<br />
	<b>VIGTIGT MHT. VALG AF UKENDT DESTINATION:</b><p> Når du har valgt "Ukendt" som destinationen, skal du selv sørge for at angive navnet på destinationen samt antal kilometer inde i beskeden i mailklienten.</p>
	<img class="mx-auto d-block" style="border:3px solid;" src="img\UkendtDestination.png" />
</div>